.card {
    width: 195px;
    padding: 22px 24px;
    border-radius: 12px;
    text-align: center;
}

.card img {
    height: 160px;
}

.card p {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
    color: white;
}