.scrollNav {
    position: fixed;
    left: 50px;
    top: 25%;
    background-color: white;
    width: 5px;
    height: 400px;
    padding: 50px 0px;
    box-sizing: border-box;
    border-radius: 20px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scrollNav .itemActive {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    position: relative;
    left: -34px;
}

.scrollNav .item {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    position: relative;
    left: -20px;
}

.scrollNav .item img {
    height: 20px;
}
.scrollNav .itemActive img {
    height: 40px;
}