.footer {
    height: 100%;
    background-color: #0466C8;
    padding: 45px 75px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer .logo {
    display: flex;
    color: white;
    gap: 15px;
}

.footer .logo img {
    height: 64px;
}

.footer .info {
    margin-top: 35px;
}

.footer .info img {
    height: 20px;
}
.footer .info p {
    font-size: 13px;
}

.footer .info .item {
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 20px 0px;
}

.underFooter {
    background-color: white;
    padding: 15px 120px;
}

.underFooter .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkHelper {
    display: flex;
    gap: 150px;
}

.linkHelper .needHelp .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.linkHelper .contact .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}
.linkHelper .contact .contactItem {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}