.cardAstronot {
    width: 410px;
    border-radius: 12px;
    background-color: white;
    padding: 15px 20px;
}

.cardAstronot .profile {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cardAstronot .avatar {
    background-color: #CBCBCB;
    border-radius: 50%;
    height: 85px;
    width: 85px;
}

.cardAstronot .avatar img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.cardAstronot .profile p {
    font-weight: 700;
    font-size: 25px;
}